<form action='/trains/<%= @train.id() %>' method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename the train</label>
  <input type="text" name="name">

  <button type="submit">Update</button>
</form>
<form action='/trains/<%= @train.id() %>' method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove</button>
</form>
